@import url('https://fonts.cdnfonts.com/css/minecraftia');

body {
    background-color: rgb(48, 47, 47);
    color: aliceblue;
    min-height: 100vh;
    padding-bottom: env(safe-area-inset-bottom, 20px);
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

h1,
p,
#tentatives,
#bouton-rejouer,
button {
    font-family: 'Minecraftia', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3vw;
    margin-top: 20px;
    margin-bottom: 10px;
}

p,
#bouton-rejouer {
    font-size: 1.5vw;
    text-align: center;
}

button {
    font-size: 3vw;
    cursor: pointer;
    border-radius: 10px;
    background-color: #031930 !important;
    color: aliceblue;
}

#lettres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#tentatives {
    font-size: 15px;
}

#svg-pendu {
    display: block;
    margin: 20px auto;
    width: 60vw;
    max-width: 250px;
    height: auto;
    aspect-ratio: 4 / 5;
    /* Ajoute ceci */
}

#bouton-rejouer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 60px;
}

.lettre-bouton {
    background-color: #59a0e7 !important;
    color: #031930;
    margin: 1px;
    border-radius: 10px;
    width: 50px;
}

@media (max-width: 400px) {
    h1 {
        font-size: 6vw;
    }

    p,
    #bouton-rejouer {
        font-size: 4vw;
    }

    button {
        margin: 3px;
        font-size: 4vw;
        height: 45px;
    }

    #svg-pendu {
        width: 50vw;
        aspect-ratio: 4 / 5;
    }

    #bouton-rejouer {
        padding-bottom: calc(env(safe-area-inset-bottom, 20px) + 20px);
    }

    .lettre-bouton {
        min-width: 40px;
        min-height: 45px;
        padding: 0;
        margin: 3px;
        font-size: 4vw;
        font-family: 'Minecraftia', sans-serif;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        transition: background-color 0.3s, color 0.3s;
    }

    .lettre-bouton:disabled {
        background-color: #4d4f51 !important;
        color: #777 !important;
        opacity: 1;
        cursor: default;
    }

}